config.local.inc.php
equivset.php
equivset.ser
other/
rewrite/
sand/
svn-rewrite.sh
svn-sand.sh
images/
graph
render/
deploy/
*.suo
*.sln
*.phpproj
.settings/
.buildpath
.project
.idea/*
!.idea/codeStyleSettings.xml
templates_c/*
*.phpproj.user
temp/*
core
favicon.ico
desktop.ini
info.php
web.*.config
.user.ini
waca.sln.DotSettings.user
.vs/*
.arc*
vendor/*
/sql/schema2.sql
/sql/schema.sql
components/*
errorlog/*.log
/resources/generated/
cookies.txt
robots.txt
/.scannerwork/*
sonar-project.properties
node_modules/
