Alex Fusco <alexfusco5@gmail.com>
Brett Hillebrand <bretthillebrand@internode.on.net>
Charles Melbye <charlie@yourwiki.net>
Chris G <chris@toolserver.org>
Cobi <cobi@jacobicarter.com>
DeltaQuad <deltaquadwiki@gmail.com> Amanda/DeltaQuad <deltaquadwiki@gmail.com>
EdoDodo <dodo@toolserver.org>
Andrew "FastLizard4" Adams <FastLizard4-Git-Commits@fastlizard4.org> Andrew "FastLizard4" Adams <fastlizard4-github-commits@fastlizard4.org>
Andrew "FastLizard4" Adams <FastLizard4-Git-Commits@fastlizard4.org> Andrew "FastLizard4" Adams <fastlizard4-git-commits@fastlizard4.org>
Andrew "FastLizard4" Adams <FastLizard4-Git-Commits@fastlizard4.org> Andrew FastLizard4 Adams <FastLizard4-GitHub-Commits@fastlizard4.org>
Andrew "FastLizard4" Adams <FastLizard4-Git-Commits@fastlizard4.org> FastLizard4 <FastLizard4 [at] gmail [dot] com>
Andrew "FastLizard4" Adams <FastLizard4-Git-Commits@fastlizard4.org> FastLizard4 <FastLizard4-GitHub-Commits@fastlizard4.org>
Andrew "FastLizard4" Adams <FastLizard4-Git-Commits@fastlizard4.org> FastLizard4 <FastLizard4-GitHub-Commits@lizardwiki.dyndns.org>
Andrew "FastLizard4" Adams <FastLizard4-Git-Commits@fastlizard4.org> FastLizard4 <FastLizard4@gmail.com>
Andrew "FastLizard4" Adams <FastLizard4-Git-Commits@fastlizard4.org> FastLizard4 <fastlizard4@accounts-application.pmtpa.wmflabs>
John F. Lewis <johnflewis93@gmail.com> <john@orain.org>
John F. Lewis <john@orain.org>
Logan <computerwiz908@gmail.com>
Lourie Pieterse <louriepieterse@yahoo.com>
MacMed <macmed.wiki@gmail.com>
Manish Goregaokar <manishsmail@gmail.com> Manishearth <manishsmail@gmail.com>
Manish Goregaokar <manishsmail@gmail.com> Manish Goregaokar <Manishearth@users.noreply.github.com>
Matthew Bowker <Matthewrbowker@users.noreply.github.com> Matthew Bowker <matthewrbowker@gmail.com>
Matthew Bowker <Matthewrbowker@users.noreply.github.com> Matthew Bowker <matthewrbowker@me.com>
Michael Daniels <mdaniels5757@gmail.com> Michael Daniels <mdaniels5757@users.noreply.github.com>
Max Meisler <sauronthefish@gmail.com>
OverlordQ <overlordq@gmail.com>
Prodego <Prodego@gmail.com>
Riley <wikihuntley@gmail.com>
SQL-enwiki <45909509+SQL-enwiki@users.noreply.github.com> SQL <sxwiki@gmail.com>
Sam <samtarling@users.noreply.github.com> Sam Tarling <sam@tntnet.uk>
Simon Walker <github@stwalkerster.co.uk> Simon Walker <github@helpmebot.org.uk>
Simon Walker <github@stwalkerster.co.uk> Simon Walker <simon@stwalkerster.co.uk>
Simon Walker <github@stwalkerster.co.uk> stwalkerster <github@stwalkerster.co.uk>
Steven Donovan <stevend811@comcast.net> FunPika <funpikawiki@gmail.com>
Steven Donovan <stevend811@comcast.net> FunPika <stevend811@comcast.net>
Thehelpfulone <thehelpfulonewiki@gmail.com>
Yetanotherx <yetanotherx@gmail.com>
acc project <acc@toolserver.org>
mattw <mattw@CLUENET.ORG>
