.table-nonfluid 
{
   width: auto;
}

/* Visited buttons */

.btn-visited {
  background-color: #F5F5F5;
  *background-color: #E6DDF6;
  background-image: -moz-linear-gradient(top, #DDD1F6, #CCB9F6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DDD1F6), to(#CCB9F6));
  background-image: -webkit-linear-gradient(top, #DDD1F6, #CCB9F6);
  background-image: -o-linear-gradient(top, #DDD1F6, #CCB9F6);
  background-image: linear-gradient(to bottom, #DDD1F6, #CCB9F6) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDDD1F6', endColorstr='#FFCCB9F6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-visited:hover,
.btn-visited:focus,
.btn-visited:active,
.btn-visited.active,
.btn-visited.disabled,
.btn-visited[disabled] {
  background-color: #CCB9F6;
  *background-color: #CCB9F6;
}

.btn-visited:active,
.btn-visited.active {
  background-color: #CCB9F6 \9;
}
    
.plainlinks {
    color: #333333;
    text-decoration: none;
}

.plainlinks:hover {
    color: #333333;
    text-decoration: none;
}

.linkWrapSection .btn {
    margin-bottom: 5px;
}