/* Temporary fix to deal with https://github.com/twbs/bootstrap/issues/7968
until a newer Bootstrap version with this fixed is released and we upgrade to it */
.dropdown-backdrop {
    position: static;
}

/* Non-fluid tables - don't take up the entire width of the page! */
.table-nonfluid
{
    width: auto;
}

/* Visited buttons */

.btn-visited {
    background-color: #F5F5F5;
    *background-color: #E6DDF6;
    background-image: -moz-linear-gradient(top, #DDD1F6, #CCB9F6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DDD1F6), to(#CCB9F6));
    background-image: -webkit-linear-gradient(top, #DDD1F6, #CCB9F6);
    background-image: -o-linear-gradient(top, #DDD1F6, #CCB9F6);
    background-image: linear-gradient(to bottom, #DDD1F6, #CCB9F6) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDDD1F6', endColorstr='#FFCCB9F6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-visited:hover,
.btn-visited:focus,
.btn-visited:active,
.btn-visited.active,
.btn-visited.disabled,
.btn-visited[disabled] {
    background-color: #CCB9F6;
    *background-color: #CCB9F6;
}

.btn-visited:active,
.btn-visited.active {
    background-color: #CCB9F6 \9;
}

.plainlinks {
    color: #333333;
    text-decoration: none;
}

.plainlinks:hover {
    color: #333333;
    text-decoration: none;
}

.linkWrapSection .btn {
    margin-bottom: 5px;
}

/* Forms */
form.form-compact {
    margin-bottom: 0;
}
input.input-compact {
    margin-bottom: 0;
}

/* Zoom page tweaks */
hr.zoom-button-divider {
    border-top-color: #ddd;
    margin-top: 10px;
}

h5.zoom-button-header {
    color: #999;
    margin-top: -15px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: italic;
}

/* Dropdown of buttons */
.dropdown-menu li button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    border: 0;
    width:100%;
    text-align: left;
}
.dropdown-menu li button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #08c, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #08c, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}


td.success, th.success, .table tfoot tr.success > td, .table tfoot tr.success > th {
    background-color: #dff0d8;
}
td.error, th.error, .table tfoot tr.error > td, .table tfoot tr.error > th {
    background-color: #f2dede;
}
td.warning, th.warning, .table tfoot tr.warning > td, .table tfoot tr.warning > th {
    background-color: #fcf8e3;
}
td.info, th.info, .table tfoot tr.info > td, .table tfoot tr.info > th {
    background-color: #d9edf7;
}