/******************************************************************************
 * Wikipedia Account Creation Assistance tool                                 *
 *                                                                            *
 * All code in this file is released into the public domain by the ACC        *
 * Development Team. Please see team.json for a list of contributors.         *
 ******************************************************************************/

.linkWrapSection .btn {
    margin-bottom: 5px;
}

hr.zoom-button-divider {
    border-top-color: #ddd;
    margin-top: 10px;
}

h5.zoom-button-header {
    color: #999;
    margin-top: -15px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
}

.row.row-request-data-section {
    margin-bottom: 0.4rem;
}

button.dropdown-toggle-split {
    border-left: 1px solid #0000002e;
}
