//******************************************************************************
// Wikipedia Account Creation Assistance tool                                  *
// ACC Development Team. Please see team.json for a list of contributors.      *
//                                                                             *
// This is free and unencumbered software released into the public domain.     *
// Please see LICENSE.md for the full licencing statement.                     *
//******************************************************************************

footer {
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
    @extend .small;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    li {
      display: inline-block;
      @extend .small;

      & + li::before {
        content: " | ";
      }
    }
  }
}
