//******************************************************************************
// Wikipedia Account Creation Assistance tool                                  *
//                                                                             *
// All code in this file is released into the public domain by the ACC         *
// Development Team. Please see team.json for a list of contributors.          *
//******************************************************************************

#loginCredentialForm {
    .form-text {
        font-size: $font-size-base * .9;
        margin-top: 0;
    }

    .form-group:last-of-type {
        margin-bottom: 0;
    }

    .row.cols.split-cols .col:not(:first-child) {
        @extend .border-left;
    }
}
