//******************************************************************************
// Wikipedia Account Creation Assistance tool                                  *
// ACC Development Team. Please see team.json for a list of contributors.      *
//                                                                             *
// This is free and unencumbered software released into the public domain.     *
// Please see LICENSE.md for the full licencing statement.                     *
//******************************************************************************

#loginCredentialForm {
    .form-text {
        font-size: $font-size-base * .9;
        margin-top: 0;
    }

    .form-group:last-of-type {
        margin-bottom: 0;
    }
}
