//******************************************************************************
// Wikipedia Account Creation Assistance tool                                  *
//                                                                             *
// All code in this file is released into the public domain by the ACC         *
// Development Team. Please see team.json for a list of contributors.          *
//******************************************************************************

#mainPage {
    .alert-accordion {
        margin-top: -1.2rem;
        margin-left: -1.25rem;
        margin-right: -1.25rem;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}
