//******************************************************************************
// Wikipedia Account Creation Assistance tool                                  *
//                                                                             *
// All code in this file is released into the public domain by the ACC         *
// Development Team. Please see team.json for a list of contributors.          *
//******************************************************************************

div.password-strength-progress {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 0.2rem;
    margin-top: -0.2rem;
    background-color: $input-border-color;
}
