//******************************************************************************
// Wikipedia Account Creation Assistance tool                                  *
//                                                                             *
// All code in this file is released into the public domain by the ACC         *
// Development Team. Please see team.json for a list of contributors.          *
//******************************************************************************

.sitenotice-container {
  margin-top: -0.6rem;
}

.sitenotice-container .sitenotice {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.sitenotice-container .sitenotice ul {
  margin-bottom: 0;
}