//******************************************************************************
// Wikipedia Account Creation Assistance tool                                  *
// ACC Development Team. Please see team.json for a list of contributors.      *
//                                                                             *
// This is free and unencumbered software released into the public domain.     *
// Please see LICENSE.md for the full licencing statement.                     *
//******************************************************************************

td.numeric, td.numeric-delta, td.timespan-delta {
  text-align: right;
  font-family: monospace;
  font-size: 1rem;
}

td.numeric-delta, td.timespan-delta {
  @extend .text-success;

  &::before {
    content: "+"
  }

  &.delta-inverse {
    @extend .text-danger;

    &::before {
      content: "+"
    }

    &[data-value^="-"] {
      @extend .text-success;
    }
  }

  &[data-value^="-"] {
    @extend .text-danger;

    &::before {
      content: ""
    }
  }

  &[data-value="0"], &:empty {
    @extend .text-body;
    &::before {
      content: ""
    }
  }
}

td.timespan-delta.delta-inverse[data-value^="-"]::before {
  content: "-"
}