//******************************************************************************
// Wikipedia Account Creation Assistance tool                                  *
//                                                                             *
// All code in this file is released into the public domain by the ACC         *
// Development Team. Please see team.json for a list of contributors.          *
//******************************************************************************
$zoom-section-spacer: 1.45rem;

#pageRequestLog {
    .zoom-buttons {
        h5 {
            @extend .text-muted;

            margin-top: (0.1 * $zoom-section-spacer) - 1;
            margin-bottom: 0.5 * $zoom-section-spacer;

            font-style: italic;
            font-size: $zoom-section-spacer * 0.6;
            font-weight: $font-weight-normal;
        }

        .row {
            min-height: 2.2rem;
        }

        hr {
            border-top-color: $gray-400;
        }
    }

    .creationOptions {
        float: right;

        .creationTypeOptions {
            margin-top: (0.1 * $zoom-section-spacer) - 1;
        }

        .creationOtherOptions {
            margin-bottom: (0.1 * $zoom-section-spacer) - 1;
            margin-top: 0.5 * $zoom-section-spacer;
        }

        .custom-control-inline {
            @extend .text-muted;
            font-style: italic;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .request-data-section {
        @extend .padded-data
    }

    #requestLog {
        max-height: 34.4rem;

        .dropdown-item .custom-control {
            padding-left: 0.7rem;
        }

        .text-nowrap .col{
            padding-left: 0;
            padding-right: 0;
        }

        #commentVisibilityButton {
            border-radius: .25rem 0 0 .25rem;
            padding: 0.375rem 0.575rem;
        }

        #commentSaveButton {
            min-width: 5rem;
        }
    }

    .linkWrapSection .btn {
        margin-bottom: 5px;
    }

    button.dropdown-toggle-split {
        border-left: 1px solid rgba($black, .2);
    }
}
